*
!*/

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.cppm
!*.h
!*.hpp
!*.inl
!*.inc
!*.cu

# Executable files
!*.exe

# Configuration files
!*.ini

# Shader files
!*.hsf

# Doc files
!*.txt
!*.md
!*.pptx
!*.html

# Script files
!*.bat
!*.sh
!*.lua
!*.py

# Git files
!.git*

# ThirdParty libraries
!*.dll
!*.lib

# Assets
!*.ttf
!*.bin
!*.glb
!*.gltf
!*.obj
!*.mtl
!*.fbx
!*.png
!*.jpg
!*.tga
!*.hdr
!*.horizon

!README
!LICENSE

.vs
.vscode

Build/

!Screenshots/*
